<!-- <p>product works!</p>  -->

<mat-card class="card" >
    <mat-card-header> 
        <mat-card-title>{{product.name}} </mat-card-title>

           </mat-card-header>    

<!--HEADER-->

        <mat-card-content> {{product.description}} 
            {{2+1}} </mat-card-content>  

<!--CONTENIDO-->

    <mat-card-actions> 
        <button 
        mat-flat-button 
        color="primary" 
        (click)="onClick()"
        [disabled]="product.stock === 0"
        
        >
            Buy {{product.price | currency}}
            <mat-icon>add_shopping_cart</mat-icon>      
                    <!-- en google: listado de iconos de angular matirial -->
        </button>
        
    </mat-card-actions>    

<!--ACTIONS-->
</mat-card>
