.spacer{
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: #ffF;
}

.mouseHover:hover{
    background-color: rgb(4, 72,194);
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}