<!-- <p>header works!</p> -->


    <mat-toolbar color="primary">         
      <span>My Application hola</span>
 <!--      {{quantity$ | async | json}} - Quantity   
      {{total$ | async | json}} -  Quantity   -->
      <span class="spacer"></span>
      <app-cart></app-cart>

      <!-- {{cart$ | async | json}} - Quantity   -->
      <!--git: Ya esta funcionando  adduna parte del carrito de compra --> 
      <!--Esta es la primera parte de shopping cart-->
      <!--Es un avance de nuetro Shopping Cart-->
      <!--proximo paso sacar la logica de header 
        creando un componente cart 
        y no ensuciar asi nuestro header -->
    </mat-toolbar>
 
